
body {
    background: #125581;
    font-family: Arial;
}
h1 {
    color: red;
}
/* ISCCwXqUEhQ1rsIWjeYK3SrewH2bjdjXXDOpk700OdaIkHT4lJdQ6VH0CXmWAO4NPbZ8YVTfJ3NE8rK2XhE6DzUdFSuGvI4w0WnnxCnmYiE33zWALWPUWcXZZHfZ9ZTdb4g9nDTayc7JrfOIRdJrfaAV5gXK7ZgcGcpR8mNUZaXoAFHLR24hvkjLo6KEwQAlb9R15svZ */
